{% extends "base.html" %}

{% block title %}
    Admin | UWA Pharmacy Case
{% endblock %}

{% block body %}
    <div class="action-list-container theme-container theme-contaienr-med">
        <div class="action-list theme-form">
            <div class="action-container">
                <a class="action-link" href="{% url "case_admin:users" %}">
                    <div class="action-card" id="action-admin-users">
                        {% if badge_count.users > 0 %}
                            <span class="notification-badge">
                                {{ badge_count.users }}
                            </span>
                        {% endif %}
                        <p class="action-title">Users</p>
                    </div>
                </a>
            </div>
            <div class="action-container">
                <a class="action-link" href="{% url "case_admin:cases" %}">
                    <div class="action-card" id="action-admin-cases">
                        {% if badge_count.cases > 0 %}
                            <span class="notification-badge">
                                {{ badge_count.cases }}
                            </span>
                        {% endif %}
                        <p class="action-title">Cases</p>
                    </div>
                </a>
            </div>
            <div class="action-container">
                <a class="action-link" href="{% url "case_admin:questions" %}">
                    <div class="action-card" id="action-admin-questions">
                        {% if badge_count.questions > 0 %}
                            <span class="notification-badge">
                                {{ badge_count.questions }}
                            </span>
                        {% endif %}
                        <p class="action-title">Questions</p>
                    </div>
                </a>
            </div>
            <div class="action-container">
                <a class="action-link" href="{% url "case_admin:comments" %}">
                    <div class="action-card" id="action-admin-comments">
                        {% if badge_count.comments > 0 %}
                            <span class="notification-badge">
                                {{ badge_count.comments }}
                            </span>
                        {% endif %}
                        <p class="action-title">Comments</p>
                    </div>
                </a>
            </div>
            <div class="action-container">
                <a class="action-link" href="{% url "case_admin:tags" %}">
                    <div class="action-card" id="action-admin-tags">
                        {% if badge_count.tags > 0 %}
                            <span class="notification-badge">
                                {{ badge_count.tags }}
                            </span>
                        {% endif %}
                        <p class="action-title">Tags</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}