{% extends "base.html" %}
{% load css %}

{% block title %}
    {{ title }} | UWA Case
{% endblock %}

{% block body %}
    <table>
        <thead>
        <tr>
            {% for field in data.entities.0 %}
                <td>
                    {{ field.title }}
                </td>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for ent in data.entities %}
            {{ ent.0.widget }}
            {% for field in ent %}
                <td>
                    {{ ent.widget.template }}
                    {% include ""|add:field.widget.template %}
                </td>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
