<div>
    <select class="admin-input admin-input-select form-control"
            name="{{ field.key }}"
            id="admin-inp-{{ field.key }}-{{ field.entity }}"
            {% if not field.write %}disabled{% endif %}
            required
            {% if field.widget.multiple %}multiple="multiple"{% endif %}>
        {% for opt in field.options %}
            <option value="{{ opt.id }}" {% if opt.selected %}selected="selected"{% endif %}>{{ opt.name }}</option>
        {% endfor %}
    </select>
    <script>
        $(document).ready(function() {
            $("#admin-inp-{{ field.key }}-{{ field.entity }}").select2().select2({
                dropdownParent: $("#entity-edit-modal-{{ modal_entity_id }}")
            });
        });
    </script>
</div>
