.case-card-container {
  display: block;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: darken($col-background, 7%);
  border-radius: $border-radius;
  box-shadow: $block-box-shadow;
  border: 1px solid darken($col-background, 15%);

  a {

  }

  .clear-fix {
    clear: right;
  }

  .case-title {
    font-size: 1.5rem;
  }

  .case-pass-rate {
    font-size: 1.1rem;
    float: right;
    text-align: right;
    max-width: 10rem;
    margin: 0;
    padding: 0;
  }

  .case-description {
    font-size: 0.75rem;
  }

  .case-view-counter {
    font-size: 1.1rem;
    float: right;
    text-align: right;
    max-width: 10rem;
    margin: 0;
    padding: 0;
  }

  .case-patient-info {
    font-size: 1.1rem;
  }
}