.cs-border {
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 3px;
}

.cs-background {
    background-color: #f2f3f7;
}

.cs-padding {
    padding: 20px;
    margin: 0 5px 20px 5px;
}
