$theme-color: #007BFF;
$theme-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);

body {
  background-color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: black;
  font-size: 1rem;
  margin-bottom: 10rem;
}

.help_text.ul {
  list-style-type: none;
  display: none;
}

div.activation {
  font-size: 16px;
  margin: 15px auto;
}

@import "_theme";
@import "_index";
@import "_case";
@import "_nav";
@import "_caseadmin";
