{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}

{% block title %}
Advanced Search | UWA Pharmacy Case
{% endblock %}

{% block head %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
{% endblock %}


{% block body %}

<div class="row" id="row-container">
    <div class="card col-3 mb-3 theme-container-border theme-container-bg case-side" id="details">
        <div class="card-body">
            <h5 class="mb-2"><strong>Search</strong></h5>
            <form action="{% url 'cases:advsearch'%}" method="GET">
                <div class="form-group">
                    <div><strong>Key Words</strong></div>
                    <input class="form-text-input" type="text" name="key_words" id="kw_choice" value="{{ key_words }}">
                </div>

                <div class="form-group">
                    <div><strong>Medical History</strong></div>
                    <div id="mhx-group-select-parent">
                        <select multiple name="mhx_choice" id="mhx-group">
                            {% for m in mhxes %}
                            <option id="mhx_choice{{ forloop.counter }}" value="{{m}}" {% if m.body in mhx_choices %} selected
                                {% endif %}>{{m}}
                            </option>
                            {% endfor %}
                        </select>
                        <script>
                            $(document).ready(function () {
                                $("#mhx-group").select2({
                                    dropdownParent: $("#mhx-group-select-parent"),
                                });
                            });
                        </script>
                    </div>
                </div>

                <div class="form-group">
                    <div><strong>Medication</strong></div>
                    <div id="medicines-group-select-parent">
                        <select data-width="fit" multiple name="medicine_choice" id="medicines-group">
                            {% for m in medicines %}
                            <option id="medicine_choice{{ forloop.counter }}" value="{{m}}" {% if m.name in medicine_choices %} selected
                                {% endif %}>{{m}}</option>
                            {% endfor %}
                        </select>
                        <script>
                            $(document).ready(function () {
                                $("#medicines-group").select2({
                                    dropdownParent: $("#medicines-group-select-parent"),
                                });
                            });
                        </script>
                    </div>
                </div>

                <div class="form-group">
                    <div><strong>Other</strong></div>
                    <div id="other-group-select-parent">
                        <select multiple name="other_choice" id="other-group">
                            {% for o in others %}
                            <option id="other_choice{{ forloop.counter }}" value="{{o}}" 
                            {% if o.other_body in other_choices %} selected {% endif %}>{{o}}
                            </option>
                            {% endfor %}
                        </select>
                        <script>
                            $(document).ready(function () {
                                $("#other-group").select2({
                                    dropdownParent: $("#other-group-select-parent"),
                                });
                            });
                        </script>
                    </div>
                </div>

                <div class="form-group">
                    <div><strong>Patient Sex</strong></div>
                    <div id="sexes-group-select-parent">
                    <select multiple name="sex_choice" id="sexes-group">
                        {% for a,b in sexes %}
                        <option id="sex_choice{{ forloop.counter }}" value="{{a}}" {% if a in sex_choices %} selected
                            {% endif %}>{{b}}</option>
                        {% endfor %}
                    </select>
                    <script>
                        $(document).ready(function () {
                            $("#sexes-group").select2({
                                dropdownParent: $("#sexes-group-select-parent"),
                            });
                        });
                    </script>
                    </div>
                </div>

                <div class="form-group">
                    <div><strong>Tags</strong></div>
                    <div id="tags-group-select-parent">
                        <select data-width="fit" multiple name="tag_choice" id="tags-group">
                            {% for tag in tags %}
                            <option id="tag_choice{{ forloop.counter }}" value="{{tag}}"
                                {% if tag.name in tag_choices %} selected {% endif %}>{{tag}}</option>
                            {% endfor %}
                        </select>
                        <script>
                            $(document).ready(function () {
                                $("#tags-group").select2({
                                    dropdownParent: $("#tags-group-select-parent"),
                                });
                            });
                        </script>
                    </div>
                </div>


                <div><strong>Date Created</strong></div>
                <div class="form-group">
                    <input class="form-date-input" type="date" name="before_date" id="before_date_inp"
                        value="{{ before_date }}">
                    <br>
                    <label for="before_date_inp">Before:</label>
                    <br>
                </div>
                <div class="form-group">
                    <input class="form-date-input" type="date" name="after_date" id="after_date_inp"
                        value="{{ after_date }}">
                    <br>
                    <label for="after_date_inp">After:</label>
                    <br>
                </div>


                <div><strong>Patient Age</strong></div>
                <div class="form-group">
                    <input class="form-number-input" type="number" name="min_age" id="min_age_inp"
                        value="{{ min_age }}">
                    <label for="min_age_inp">Minimum Age:</label>
                    <br>
                </div>

                <div class="form-group">
                    <input class="form-number-input" type="number" name="max_age" id="max_age_inp"
                        value="{{ max_age }}">
                    <label for="max_age_inp">Maximum Age:</label>
                    <br>
                </div>


                <br>
                <div class="form-group">
                    <input type="checkbox" name="staff_choice" id="staff_choice1" value="staff_choice"
                        {% if staff_choice %} checked {% endif %}>

                    <label class="form-check-label" for="staff_choice1">Only Public Staff Cases?</label>
                    <br>
                </div>

        </div>
        <div class="card-body border-top">
            <a href="{% url "cases:search" %}">Basic Search</a>
            <div class="float-right">
                <input type="submit" class="btn btn-primary btn-sm brand-green-bg brand-green-bg-hover" value="Submit">
            </div>
        </div>
        </form>
    </div>

    <div class="case-content" id="main">
        {% if cases %}
        {% for case in cases %}
        <div class="theme-container-border theme-container-bg theme-container-padding">
            <div>
                <a class="action-link text-decoration-none" href="{% url "cases:view-case" case_study_id=case.id %}">
                    <h3 class="text-center"><strong>Case <span id="case_id">{{ case.id }}</span></strong></h5>
                </a>
                <div class="float-right">
                    {% for tag in case.tags %}
                    <span class="badge badge-secondary">{{ tag.tag.name }}</span>
                    {% endfor %}
                </div>
                </br>
                <div class="card mt-2 mb-3 bg-light">
                    <div class="card-body">
                        {{ case.get_age_in_words|an|title }} {{ case.get_age_string }} {{ case.get_sex }}
                        {{ case.get_optionals }}
                        presents to your
                        pharmacy {{ case.description }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="theme-container-border theme-container-bg theme-container-padding">
            <h5 class="text-center"><strong>No results found.</strong></h5>
        </div>
        {% endif %}
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>
<script src="{% static "js/viewCase.js" %}"></script>

<br>

{% endblock %}