{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}

{% block title %}
    Advanced Search | UWA Pharmacy Case
{% endblock %}

{% block header %}
    Advanced Search
{% endblock %}


{% block body %}

<div class="row" id="row-container">
    <div class="card col-3 mb-3 theme-container-border theme-container-bg case-side" id="details">
        <div class="card-body">
            <h5 class="mb-2"><strong>Search</strong></h5>
            <form action="{% url 'cases:advsearch'%}" method="GET">
                <div class="form-group">
                    <div><strong>Key Words</strong></div>
                    <input class="form-text-input" type="text" name="key_words" id="kw_choice" value="{{ key_words }}"> 
                </div>

                <div class="form-group">
                    <div><strong>Medical History</strong></div>
                    <input class="form-text-input" type="text" name="mhx" id="mhx_choice" value="{{ mhx }}">
                </div>

                <div class="form-group">
                    <div><strong>Medication</strong></div>
                    <input class="form-text-input" type="text" name="medication" id="medication_choice" value="{{ medication }}">
                </div>

                <div class="form-group">
                        <div><strong>Patient Sex</strong></div>
                    <select multiple name="sex_choice" class="admin-input admin-input-select">
                    {% for a,b in sexes %}
                    <option id="sex_choice{{ forloop.counter }}" value="{{ a }}"
                        {% if a in sex_choices %} checked {% endif %}
                    >{{a}}</option>
                    {% endfor %}
                    
                    </select>
                </div>

                <div class="form-group">
                        <div><strong>Tags</strong></div>
                    <select multiple name="tag_choice">
                    {% for tag in tags %}
                    <option id="tag_choice{{ forloop.counter }}" value="{{tag}}"
                        {% if tag.name in tag_choices %} checked {% endif %}
                    >{{tag}}</option>
                    
                    {% endfor %}
                    </select>
                </div>


                <div><strong>Date Created</strong></div>
                <div class="form-group">
                    <input class="form-date-input" type="date" name="before_date" id="before_date_inp" value="{{ before_date }}">
                    <br>
                    <label for="before_date_inp">Before:</label>
                    <br>
                </div>
                <div class="form-group">
                    <input class="form-date-input" type="date" name="after_date" id="after_date_inp" value="{{ after_date }}">
                    <br>
                    <label for="after_date_inp">After:</label>
                    <br>
                </div>


                <div><strong>Patient Age</strong></div>
                <div class="form-group">
                    <input class="form-number-input" type="number" name="min_age" id="min_age_inp"  value="{{ min_age }}">
                    <label for="min_age_inp">Minimum Age:</label>
                    <br>
                </div>
                
                <div class="form-group">
                    <input class="form-number-input" type="number" name="max_age" id="max_age_inp" value="{{ max_age }}">
                    <label for="max_age_inp">Maximum Age:</label>
                    <br>
                </div>


                <br>
                <div class="form-group">
                    <input  type="checkbox" name="staff_choice" id="staff_choice1" value="staff_choice"
                        {% if staff_choice %} checked {% endif %}>

                    <label class="form-check-label" for="staff_choice1">Only Public Staff Cases?</label>
                    <br>
                </div>

        </div>
        <div class="card-body border-top">
            <a href="{% url "cases:search" %}">Basic Search</a>
            <div class="float-right">
                <input type="submit" class="btn btn-primary btn-sm brand-green-bg brand-green-bg-hover" value="Submit">
            </div>
        </div>
        </form>
    </div>

    <div class="case-content" id="main">
        {% if cases %}
        {% for case in cases %}
        <div class="theme-container-border theme-container-bg theme-container-padding">
            <div>
                <a class="action-link text-decoration-none" href="{% url "cases:view-case" case_study_id=case.id %}">
                    <h3 class="text-center"><strong>Case <span id="case_id">{{ case.id }}</span></strong></h5>
                </a>
                <div class="float-right">
                    {% for tag in case.tags %}
                    <span class="badge badge-secondary">{{ tag.tag.name }}</span>
                    {% endfor %}
                </div>
                </br>
                <div class="card mt-2 mb-3 bg-light">
                    <div class="card-body">
                        {{ case.get_age_in_words|an|title }} {{ case.get_age_string }} {{ case.get_sex }}
                        {{ case.get_optionals }}
                        presents to your
                        pharmacy {{ case.description }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="theme-container-border theme-container-bg theme-container-padding">
            <h5 class="text-center"><strong>No results found.</strong></h5>
        </div>
        {% endif %}
    </div>
</div>

<br>

{% endblock %}