{% extends 'base.html' %}

{% block title %}
  Create New Case
{% endblock %}

{% block header %}
  Create New Case
{% endblock %}

{% block description %}
  <div class="mb-3 alert alert-info">
    Please fill out the following fields to create your case study.
  </div>
{% endblock %}

{% block body %}

  <div class='content-section'>
    
    <div class='form-group'>
    
      <form method="post">
        {{ case_study_form.as_p }}
        {{ case_study_question_form.as_p }}
        {{ medical_history_form.as_p }}
        {{ medication_form.as_p }}
      </form>
    
    </div>
  </div>
{% endblock %}