{% extends 'base.html' %}

{% block title %}
  Create New Case
{% endblock %}

{% block header %}
  Create New Case
{% endblock %}

{% block description %}
  <div class="mb-3 alert alert-info">
    Please fill out the following fields to create your case study.
  </div>
{% endblock %}

{% block body %}

  <div class="card bg-light mb-3">

    <div class='card-body'>

      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="submission_type" value="default" id="submission_type"> <!-- Sets the default submission_type to "default" -->
        <label>Description: </label>
        {{ case_study_form.description }} <br>
        <label>Patient Height: </label>
        {{ case_study_form.height }} <br>
        <label>Patient Weight: </label>
        {{ case_study_form.weight }} <br>
        <label>Patient SCr: </label>
        {{ case_study_form.scr }} <br>
        <div class="row">
          <div class="col">
            <label>Patient Age Type: </label>
            {{ case_study_form.age_type }} <br>
          </div>
          <div class="col">
            <label>Patient Age: </label>
            {{ case_study_form.age }} <br>
          </div>
        </div>
        <label>Patient Sex: </label>
        {{ case_study_form.sex }} <br>
        <hr>
        <br>
        <!-- Medical history -->
        <label>Patient Medical History: </label> 
        {{ medical_history_form.body }} <br> 
        <div class="input-group-append">
          <a class="btn btn-primary" style="color: #fff" id="add_medical_history">Add Medical History</a>
        </div>
        <br>
        <input type="hidden" name="remove_medical_history" value="false">
        <div class="list-group">
          {% for medical_history in medical_historys %}
            <li class="list-group-item">{{ medical_history.body }}</li>  
          {% endfor %}
        </div>
        <br>
        <hr>
        <br>
        <!-- Medication -->
        <label>Patient Medication: </label> 
        {{ medication_form.name }} <br> 
        <div class="input-group-append">
          <a class="btn btn-primary" style="color: #fff" id="add_medication">Add Medication</a>
        </div>
        <br>
        <input type="hidden" name="remove_medical_history" value="false">
        <div class="list-group">
          {% for medication in medications %}
            <li class="list-group-item">{{ medication.name }}</li>  
          {% endfor %}
        </div>
        <br>
        <hr>
        <br>
        
        <!-- Question -->
        <label>Question: </label>
        {{ case_study_form.question }} <br>
        {#        <label>Question: </label>#}
        {#        {{ case_study_question_form.question_choice }} <br>#}
        
        <!-- Case Study Answers -->
        <div class="row mb-3">
          <div class="col">
            <label>Answer 1: </label>
            {{ case_study_form.answer_1 }}
          </div>
          <div class="col">
            <label>Answer 2: </label>
            {{ case_study_form.answer_2 }}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label>Answer 3: </label>
            {{ case_study_form.answer_3 }}
          </div>
          <div class="col">
            <label>Answer 4: </label>
            {{ case_study_form.answer_4 }}
          </div>
        </div>
        <!-- Case Study Tags -->
        <label>Tags:</label>
        <div class="input-group mb-2">
          {{ case_study_tag_form.tag_choice }}
          <div class="input-group-append">
            <a class="btn btn-primary" style="color: #fff" id="add_tag">Add Tag</a>
          </div>
        </div>
{#        {{ case_study_tag_form.tag_choice }}#}
{#        <div><a class="btn btn-primary float-right mt-3" style="color: #fff" id="add_tag">Add Tag</a></div>#}
        <div style="font-size: 25px" class="mt-2">
          <input type="hidden" name="remove_tag" value="false">
          {% for tag in tags %}
            <input type="hidden" name="tag_choices" value="{{ tag.id }}">
            <span class="badge badge-secondary">
              {{ tag.tag.name }}
{#              <span class="float-right badge badge-secondary">#}
{#                <i class="fa fa-times"></i>#}
{#              </span>#}
            </span>
          {% endfor %}
        </div>
        <br>
        <hr>
        <input class="btn btn-primary float-left" type="submit" value="Save">
        <input class="btn btn-primary float-right" type="submit" value="Submit">
      </form>

    </div>
  </div>

  <script>
    // Add tag 
    $('#add_tag').click(function () {
      $('#submission_type').val("tag");
      $('form').submit();
    })
    
    // Add medical history 
    $('#add_medical_history').click(function () {
      $('#submission_type').val("medical_history");
      $('form').submit();
    })

    // Add medication
    $('#add_medication').click(function () {
      $('#submission_type').val("medication");
      $('form').submit();
    })
    
  </script>
{% endblock %}