{% extends "base.html" %}

{% block title %}
    Admin | UWA Pharmacy Case
{% endblock %}

{% block body %}
    <div class="action-list-container theme-container theme-contaienr-med">
        <div class="action-list theme-form">
            <div class="action-container">
                <a class="action-link" href="{% url "case_admin:users" %}">
                    <div class="action-card" id="action-admin-users">
                        {% if badge_count.users > 0 %}
                            <span class="notification-badge">
                                {{ badge_count.users }}
                            </span>
                        {% endif %}
                        <p class="action-title">Users</p>
                    </div>
                </a>
            </div>
            <div class="action-container">
                <a class="action-link" href="{% url "case_admin:cases" %}">
                    <div class="action-card" id="action-admin-cases">
                        {% if badge_count.cases > 0 %}
                            <span class="notification-badge">
                                {{ badge_count.cases }}
                            </span>
                        {% endif %}
                        <p class="action-title">Cases</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="create_new_case" value="true">
      <input class="btn btn-primary" type="submit" value="POST">
    </form>
{% endblock %}