{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Create New Case | UWA Pharmacy Case
{% endblock %}

{% block header %}
    Create New Case
{% endblock %}

{% block description %}
    <div class="mb-3 alert alert-info theme-container-md theme-shadow-light" style="margin:auto">
        Please fill out the following fields to create your case study. Required fields are marked with an asterisk (*). <br><br> Do not include any information that could potentially identify your patient.
    </div>
{% endblock %}

{% block body %}
    <div class="theme-container theme-container-md">
        <p hidden id="case_id">{{ case_study.id }}</p>
        <div class='card-body' style="padding: 0 0 35px 0;">
            {% if message.type and message.content %}
                <div class="alert alert-{{ message.type }}">{{ message.content }}</div>
            {% endif %}
            {% if case_study_form.errors %}
                {% for field in case_study_form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in case_study_form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <form method="post" id="case_form">
                {% csrf_token %}
                <input type="hidden" name="submission_type" value="default" id="submission_type">
                <!-- Sets the default submission_type to "default" -->
                <div class="row">
                    <div class="col">
                        <label>Patient Age Type*: </label>
                        {{ case_study_form.age_type }} <br>
                    </div>
                    <div class="col">
                        <label>Patient Age*: </label>
                        {{ case_study_form.age }} <br>
                    </div>
                </div>
                <label>Patient Sex*: </label>
                {{ case_study_form.sex }} <br>
                <label>Patient Height <small>(cm)</small>: </label>
                {{ case_study_form.height }} <br>
                <label>Patient Weight <small>(kg)</small>: </label>
                {{ case_study_form.weight }} <br>
                <label>Patient SCr <small>(μmol/L)</small>: </label>
                {{ case_study_form.scr }} <br>
                <label>Description* <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="The beginning of the description has been generated for you. Please finish the rest of the case in the text box."></i>: </label>
                <div class="alert alert-warning" id="description_preview">
                  A [Age – numerical, no units]-[yo/mo] [Sex – Male/Female] [(*optional* height/weight/SCr)] presents to your pharmacy ...
                </div>
                {{ case_study_form.description }} <br>
                <hr>
                <br>
                <!-- Medical history -->
                <div class="form-group">
                    <label for="medical-history-box">Patient Medical History*:</label>
                    <textarea class="form-control" id="medical-history-box" rows="1" placeholder="Enter medical history here"></textarea>
                </div>
                <div class="mt-3">
                    <a class="btn btn-primary float-right" style="color: #fff" id="add_medical_history">Add Medical History</a>
                </div>
                <br>
                <input type="hidden" name="remove_medical_history" value="false">
                <div class="list-group mt-4" id="medical-history-container">
                    {% for medical_history in medical_histories %}
                        <li class="list-group-item">{{ medical_history.body }}</li>
                    {% endfor %}
                </div>
                <br>
                <hr>
                <br>
                <!-- Medication -->
                <div class="form-group">
                    <label for="medication-box">Medication*:</label>
                    <textarea class="form-control" id="medication-box" rows="1" placeholder="Enter medication here"></textarea>
                </div>
                <div class="mt-3">
                    <a class="btn btn-primary float-right" style="color: #fff" id="add_medication">Add Medication</a>
                </div>
                <br>
                <input type="hidden" name="remove_medication" value="false">
                <ul class="list-group mt-4" id="medication-container">
                    {% for medication in medications %}
                        <li class="list-group-item">{{ medication.name }}</li>
                    {% endfor %}
                </ul>
                <br>
                <hr>
                <br>
                <!-- Other  -->
                <div class="form-group">
                    <label for="other-box">Other:</label>
                    <textarea class="form-control" id="other-box" rows="1" placeholder="Enter other here"></textarea>
                </div>
                <div class="mt-3">
                    <a class="btn btn-primary float-right" style="color: #fff" id="add_other">Add Other</a>
                </div>
                <br>
                <input type="hidden" name="remove_other" value="false">
                <ul class="list-group mt-4" id="other-container">
                    {% for other in others %}
                        <li class="list-group-item">{{ other.other_body }}</li>
                    {% endfor %}
                </ul>
                <br>
                <hr>
                <br>
                <!-- Question -->
                <label>Question*: </label>
                {{ case_study_form.question }} <br>
                {#        <label>Question: </label>#}
                {#        {{ case_study_question_form.question_choice }} <br>#}
                <!-- Case Study Answers -->
                <div class="row mb-3">
                    <div class="col">
                        <label>Answer A*: </label>
                        {{ case_study_form.answer_a }}
                    </div>
                    <div class="col">
                        <label>Answer B*: </label>
                        {{ case_study_form.answer_b }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label>Answer C*: </label>
                        {{ case_study_form.answer_c }}
                    </div>
                    <div class="col">
                        <label>Answer D*: </label>
                        {{ case_study_form.answer_d }}
                    </div>
                </div>
                <div class="mb-3">
                  <label>Correct Answer*: </label>
                  {{ case_study_form.answer }}
                </div>
                <div>
                  <label>Feedback for Answer*: </label>
                  {{ case_study_form.feedback }}
                </div>
                <br>
                <hr>
                <br>
                <!-- Case Study Tags -->
                <div class="form-group" id="tag-group">
                    <label for="tag-select">Tags:</label>
                    <select class="form-control" id="tag-select"> 
                        <option selected="true" disabled="disabled">Select Tag</option>
                        {% for tag in list_tags %}
                            <option id="{{ tag.id }}">{{ tag.name }}</option>
                        {% endfor %}
                    </select>   
                </div>
                <div class="mt-3">
                    <a class="btn btn-primary float-right" style="color: #fff" id="add_tag">Add Tag</a>
                </div>
                <br>
                <div style="font-size: 25px" class="mt-2" id="tag-container">
                    <input type="hidden" name="remove_tag" value="false">
                    {% for tag in tags %}
                        <input type="hidden" name="tag_choices" value="{{ tag.id }}">
                        <span class="badge badge-secondary">
                            {{ tag.tag.name }}
                        </span>
                    {% endfor %}
                </div>
                <br>
                <hr>
                {% if user.is_staff %}
                    <div class="mt-3 form-check">
                        {{ case_study_form.is_anonymous }}
                        <label class="form-check-label" for="id_is_anonymous">Anonymous Case</label>
                    </div>
                {% endif %}
                <div class="mt-3 form-check">
                    {{ case_study_form.confirm_patient_anonymous }}
                    <label class="form-check-label" for="id_confirm_patient_anonymous">I confirm that I have not revealed any identifying information about the case study patient</label>
                </div>
                <br>
                <hr>
                {#        Purely for validation#}
                {{ case_study_form.is_submitted.as_hidden }}
                <input class="btn btn-primary float-left" type="submit" value="Save" id="save">
                <input class="btn btn-primary float-right" type="submit" value="Submit" id="submit_button">
            </form>
        </div>
    </div>
    <script src="{% static "js/createCase.js" %}"></script>
{% endblock %}