{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}

{% block title %}
  Case {{ case.id }}
{% endblock %}

{% block header %}
  Case {{ case.id }}
{% endblock %}

{% block description %}
{% endblock %}

{% block body %}
  <style>
    @media only screen and (max-width: 1026px) {
      #details {
        width: 100%
      }

      #main {
        margin-left: 0 !important;
      }
    }

    #details {
      flex: 1;
      align-self: flex-start;
    }

    #main {
      flex: 2;
      margin-left: 10px;
    }
  </style>

  <div class="row" id="row-container">
        <button id = "test_button">
        <p id="response_text"></p>
  </div>

  <br>
  <script>
    $("#test_button").click(function () {
      
    $.ajax({
        url: '/cases/ajax/submit_comment/1/', //+ '{{ case.id }}',
        dataType: 'json',
        data: {
        'comment_body': "this is an example comment body",
        'comment_is_anon': "True"
        },
        success: function (data) {
            $("#response_text").text(data[0].fields.comment);
            console.log(data[0].fields.comment);
          }
        });
      });

  </script>
{% endblock %}