{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}

{% block title %}
  Case {{ case.id }}
{% endblock %}

{% block header %}
  Case {{ case.id }}
{% endblock %}

{% block description %}
{% endblock %}

{% block body %}
  <style>
    @media only screen and (max-width: 1026px) {
      #details {
        width: 100%
      }

      #main {
        margin-left: 0 !important;
      }
    }

    #details {
      flex: 1;
      align-self: flex-start;
    }

    #main {
      flex: 2;
      margin-left: 10px;
    }
  </style>

  <div class="row" id="row-container">
    <div class="card col-3 mb-3" id="details">
      <div class="card-body">
        <h5 class="mb-1"><strong>Details</strong></h5>
        <div>Average Score:</div>
        {% if user.is_staff and not case.is_anonymous %}
          <div>Author: {{ case.created_by }}</div>
        {% endif %}
        <div>Created: {{ case.date_created|date:"M d, Y" }}</div>
      </div>
      <div class="card-body border-top">
        <h5 class="mb-1"><strong>Actions</strong></h5>
        Export <br>
        Report Case Study <br>
        <div class="float-right">
          <a href="#" class="btn btn-primary btn-sm">Edit</a>
          <a href="#" class="btn btn-danger btn-sm">Delete</a>
        </div>
      </div>
    </div>
    <div class="card col" id="main">
      <div class="card-body">
        <div>
          <h5 class="text-center"><strong>Case {{ case.id }}</strong></h5>
          Description:
          <div class="card mt-2 mb-3 bg-light">
            <div class="card-body">
              {{ case.get_age_in_words|an|title }} {{ case.get_age_string }} {{ case.get_sex }} {{ case.get_optionals }}
              presents to your
              pharmacy {{ case.description }}
            </div>
          </div>
        </div>
        MHx:
        <ul style="display: inherit; list-style-type: inherit">
          {% for history in mhx %}
            <li>{{ history }}</li>
          {% endfor %}
        </ul>
        Medication:
        <ul style="display: inherit; list-style-type: inherit">
          {% for medication in medications %}
            <li>{{ medication }}</li>
          {% endfor %}
        </ul>
        Question:
        <div class="card mt-2 mb-3">
          <div class="card-body">
            <div><strong>{{ case.question }}</strong></div>
          </div>
          <div class="card-body pt-0" id="questions">
            <div class="list-group mb-3" id="list-tab" role="tablist">
              <a class="list-group-item" onclick="handleClick(this);" id="A" disabled>A. {{ case.answer_a }}</a>
              <a class="list-group-item" onclick="handleClick(this);" id="B">B. {{ case.answer_b }}</a>
              <a class="list-group-item" onclick="handleClick(this);" id="C">C. {{ case.answer_c }}</a>
              <a class="list-group-item" onclick="handleClick(this);" id="D">D. {{ case.answer_c }}</a>
            </div>
            <a class="btn btn-primary float-right" style="color: #FFF" id="submit_response">Submit Response</a>
          </div>
          <div class="card-body pt-0" id="feedback">
            <div class="alert mb-3" id="feedback_alert"></div>
            Feedback:
            <div class="card mt-2 mb-3 bg-light">
              <div class="card-body" id="feedback_text"></div>
            </div>
            <div class="float-right">
              <a class="btn btn-primary" id="attempt_again" style="color: #FFF">Attempt Again</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <script>
    $(document).ready(function () {
      if (window.innerWidth < 1026) {
        $('#row-container').removeClass('row');
        $('#details').removeClass('col-3');
      }
    });

    $(window).resize(function () {
      if (window.innerWidth < 1026) {
        $('#row-container').removeClass('row');
        $('#details').removeClass('col-3');
      } else {
        $('#row-container').addClass('row');
        $('#details').addClass('col-3');
      }
    });

    function handleClick(e) {
      let a = document.getElementById('A');
      let b = document.getElementById('B');
      let c = document.getElementById('C');
      let d = document.getElementById('D');
      if (a.classList.contains('list-group-item-warning')) {
        a.classList.remove('list-group-item-warning');
        a.classList.remove('clicked');
      }
      if (b.classList.contains('list-group-item-warning')) {
        b.classList.remove('list-group-item-warning');
        b.classList.remove('clicked');
      }
      if (c.classList.contains('list-group-item-warning')) {
        c.classList.remove('list-group-item-warning');
        c.classList.remove('clicked');
      }
      if (d.classList.contains('list-group-item-warning')) {
        d.classList.remove('list-group-item-warning');
        d.classList.remove('clicked');
      }
      e.classList.add('list-group-item-warning');
      e.classList.add('clicked');

    }
  </script>
  <script>
    $("#feedback").toggle();
    $("#submit_response").click(function () {
      let element = document.getElementsByClassName('clicked')[0];
      console.log(element.id)

      if (element) {
        $.ajax({
          url: '/cases/ajax/validate_answer/' + '{{ case.id }}',
          dataType: 'json',
          data: {
            'choice': element.id
          },
          success: function (data) {
            // {#$('#questions').slideUp('slow', function(){ $(this).remove(); });#}
            $('#questions').slideUp('slow');
            $('#feedback').slideDown('slow');
            if (data.success) {
              $('#feedback_alert').removeClass('alert-danger').addClass('alert-success').html(data.answer_message)
            } else {
              $('#feedback_alert').removeClass('alert-success').addClass('alert-danger').html(data.answer_message)
            }
            $('#feedback_text').html(data.feedback);
            console.log(data.answer_message)
          }
        });
      }

    });

    $('#attempt_again').click(function() {
      $('#questions').slideDown('slow');
      $('#feedback').slideUp('slow')
    })

    

  </script>
{% endblock %}