{% load staticfiles %}

<nav class="theme-nav navbar navbar-expand-lg navbar-light justify-content-between">
    <a class="navbar-brand" href="{% url "default" %}"><img src="{% static "favicon.ico" %}"/> {% block header %}UWA Case{% endblock %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if user.is_authenticated %}
            <div class="nav-narrow">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "accounts:profile" %}">
                            <div class="nav-link" style="float:right">
                                Profile
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "accounts:profile_settings" %}">
                            <div class="nav-link" style="float:right">
                                Settings
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "accounts:logout" %}">
                            <div class="nav-link" style="float:right">
                                Log Out
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "accounts:signup" %}">
                        <div class="nav-link">
                            Sign Up
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "accounts:login" %}">
                        <div class="nav-link">
                            Log In
                        </div>
                    </a>
                </li>
            </ul>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
        <div class="nav-wide">
            <div class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" style="color: inherit">
                    {{ user.first_name }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url "accounts:profile" %}">Profile</a>
                    <a class="dropdown-item" href="{% url "accounts:profile_settings" %}">Settings</a>
                    <a class="dropdown-item" href="{% url "accounts:logout" %}">Log Out</a>
                </div>
            </div>
        </div>
    {% endif %}
</nav>