{%  extends "profile-base.html" %}

{%  block head %}
{%  endblock %}

{%  block profile_content %}
    <p>this is the profile content</p>
    <p>this is the profile content</p>
    <p>this is the profile content</p>
    <p>this is the profile content</p>
    <p>this is the profile content</p>
    <p>this is the profile content</p>
    <p>this is the profile content</p>
    <p>this is the profile content</p>
    <p>this is the profile content</p>
    <p>this is the profile content</p>
    <p>this is the profile content</p>
{%  endblock %}
