{% extends "base.html" %}

{% block title %}
    Sign Up | UWA Pharmacy Case
{% endblock %}

{% block body %}
    <div class='container'>
        <div class='theme-container theme-container-sm' style="text-align:center">
            <h1 class="theme-header">{{ header }}</h1>
            <p>{{ message|linebreaks }}</p>
            {% if error %}
                <p><a class="theme-link" href="{% url "default" %}">Home</a></p>
                <p><a class="theme-link" href="{% url "default" %}">Discover cases</a></p>
                <p><a class="theme-link" href="{% url "cases:start-new-case" %}">Create a new case</a></p>
                {% if user.is_staff %}
                    <p><a class="theme-link" href="{% url "case_admin:default" %}">Aministration</a></p>
                    <p><a class="theme-link" href="{% url "default" %}">Analytics</a></p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}