{% extends "base.html" %}

{% block body %}
    <div class='container'>
        <div class='signup-form'>
            <form method="post">
                {% csrf_token %}
                <h2>Register</h2>
                <p class="hint-text">Create your account.<br>It's free and only takes a few minutes.</p>
                {% for field in form %}
                    <div class="form-group">
                        {{ field }}
                        {% if field.help_text %}
                            <small class="help_text">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Sign Up</button>
                </div>
            </form>
            <div class="text-center">Already have an account? <a href="{% url "accounts:login" %}">Log in</a></div>
        </div>
    </div>
{% endblock %}