{% extends "base.html" %}
{% load css %}

{% block title %}
    Log In | UWA Case
{% endblock %}

{% block body %}


    <div class="container">
        <div class='signup-form'>
            <form method="POST">
                {% csrf_token %}
                <h2>Log In</h2>
                <p class="hint-text"></p>
                {% for field in form %}
                    <label for="{{ field.id_for_label }}" class="text-justify">{{ field.label }}</label>
                    <div class="form-group">
                        {{ field|addbootstrapstyle:field.label }}
                        {% if field.help_text %}
                            <small class="help_text">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Log In</button>
                </div>
                <p><a href="{% url "password_reset" %}">Forgot password?</a></p>
            </form>
            <div class="text-center">Don't have an account? <a href="{% url "accounts:signup" %}">Sign up.</a></div>
        </div>
    </div>
    <script>
    $("#id_username").attr("type", "email"); // Fix for mobile keyboard. Could we do this better at the django form level?
    </script>
{% endblock %}
