{% extends "user-base.html" %}


{% block user-content %}
	<div class='signup-form'>
		<form method="post">
			{% csrf_token %}
			<h2>Log In</h2>
			<p class="hint-text"></p>
			{% for field in form %}
				<div class="form-group">
					{{ field }}
					{% if field.help_text %}
						<small class="help_text">{{ field.help_text }}</small>
					{% endif %}
					{% for error in field.errors %}
						<p style="color: red">{{ error }}</p>
					{% endfor %}
				</div>
			{% endfor %}
			<div class="form-group">
				<button type="submit" class="btn btn-success btn-lg btn-block">Log In</button>
			</div>
			<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
		</form>
		<div class="text-center">Don't have an account? <a href="{% url "accounts:signup" %}">Create One</a></div>
	</div>
{% endblock %}