{% extends 'base.html' %}
{% load css %}

{% block title %}
    Password Reset | UWA Pharmacy Case
{% endblock %}

{% block body %}
    <div class='container'>
        <div class='theme-container theme-container-sm'>
            <h1 class="theme-header">Enter a New Password</h1>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label class="theme-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|addbootstrapstyle:field.label }}
                    </div>
                {% endfor %}
                <input class="theme-btn" style="width:100%" type="submit" value="Change Password">
            </form>
        </div>
    </div>
{% endblock %}
