{% extends "base.html" %}

{% block title %}
    Password Reset | UWA Case
{% endblock %}

{% block body %}

<div class='signup-form'>
<p> Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
</p>
<form method="post" >
    {% csrf_token %}
        <div class="form-group">
            {{ form.email.errors }}
            <label for="id_email">Email address:</label>
            {{ form.email }}
        </div>
        <input type="submit" value="Reset my password">
</form>
</div>

{% endblock %}
