{% extends "base.html" %}

{% block title %}
    Settings | UWA Case
{% endblock %}

{% block body %}
    <div class='container'>
        <p> {{ message }} </p>
    </div>
    <div class='container'>
        <div class='theme-container theme-container-sm'>
            <form method="post theme-form">
                {% csrf_token %}
                <h2 class="theme-header">Settings</h2>
                <p class="hint-text">Modify your account details.</p>
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}" class="theme-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}
                            <small class="help_text">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <a class="theme-link" href='{% url "accounts:change_password" %}'>Change Password</a>
                <br>
                <br>
                <div class="form-group">
                    <button type="submit" class="theme-btn">Update Settings</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
