{% extends "base.html" %}

{% block title %}
    Settings | UWA Case
{% endblock %}

{% block body %}


    <div class='container'>
            <p> {{ message }} </p>
    </div>
    <div class='container'>
    	    <div class='container'>
        <div class='form'>
            <form method="post">
                {% csrf_token %}
                <h2>Settings</h2>
                <p class="hint-text">Modify your account details.</p>
                {% for field in form %}
                    <div class="form-group">
                        {{ field }}
                        {% if field.help_text %}
                            <small class="help_text">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                

                <div class="form-group">
                    <button type="submit" class="btn btn-info btn-lg btn-block" onclick="return confirm('Are you sure to update your settings?')" >Update Settings</button>
                </div>                                

                <div class="form-group">
                    <button type="submit" class="btn btn-danger btn-lg btn-block" onclick="return confirm('Are you sure to reset your Scorecard?')">Reset Scorecard</button>
                </div>
    </div>
<a class="text" href='{% url "accounts:change_password" %}'>Change Password?</a>

<script>
function clicked(e)
{
    if(!confirm('Are you sure?'))e.preventDefault();
}
</script>


{% endblock %}
