{% extends "base.html" %}

{% block title %}
    Settings | UWA Case
{% endblock %}

{% block body %}
    <div class='container'>
        <p> {{ message }} </p>
    </div>
    <div class='container'>

    <div class='container'>
        <div class='signup-form'>
            <form method="post">
                {% csrf_token %}
                <h2>Settings</h2>
                <p class="hint-text">Modify your account details.</p>
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}" class="text-justify">{{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}
                            <small class="help_text">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <a class="text" href='{% url "accounts:change_password" %}'>Change Password</a>
                <br>
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-info btn-lg btn-block">Update Settings</button>
                </div>
        </div>
    </div>
{% endblock %}
