{% extends "base.html" %}

{% block title %}
    My Profile | UWA Case
{% endblock %}

{% block body %}
    <div class="profile-container">
        <div class="profile-col-bio" id="bio">
            <div class="bio-container">
                <h1>{{ user.get_full_name }}</h1>
                <h2>{{ user.university }} (Started {{ user.degree_commencement_year }})</h2>
                <p>{{ user.email }}</p>
                <p>{{ user.date_joined }}</p>
                {% if user.is_staff %}
                    <p>Staff</p>
                {% endif %}
            </div>
        </div>
        <div class="profile-col-main" id="main">
            <div class="profile-content-tabs">
                <a href="{% url "users:profile" %}">Cases</a>
                <a href="{% url "users:profile_results" %}">Results</a>
            </div>
            <div class="profile-content">
                {% block profile_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
