{% extends "base.html" %}
{% load css %}

{% block title %}
    Change Password | UWA Pharmacy Case
{% endblock %}

{% block body %}
    <div class='container'>
        <p> {{ message }} </p>
    </div>
    <div class="container">
        <div class='theme-container theme-container-sm'>
            <form method="post" class="theme-form">
                {% csrf_token %}
                <h2 class="theme-header">Change Password</h2>
                <p class="hint-text"></p>
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}" class="theme-label">{{ field.label }}</label>
                        {{ field|addbootstrapstyle:field.label }}
                        {% if field.help_text %}
                            <small class="help_text">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <button type="submit" class="theme-btn">
                        Change Password
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
